/*Variables*/

$redes: (fa-f: #3b5998, fa-y: #c4302b, fa-i: #e1306c, );

/*Each,Map*/

@each $red,
$color in $redes {
    .#{$red} {
        color: $color !important;
    }
}


/*Map-Get*/

.new_1 {
    color: map-get($redes, fa-y) !important;
}

.new_2 {
    color: map-get($redes, fa-i) !important;
}

.new_3 {
    color: map-get($redes, fa-f) !important;
}