@media (max-width: 375px) {
    /** Header, NAV*/
    .header {
        height: 50px;
    }
    .navbar-brand img {
        height: 60px;
    }
    .texto_contenedor {
        margin-bottom: 90px;
    }
    .lead {
        font-size: 1rem;
        font-weight: 300;
    }
    /**SERVICIOS*/
    .container-all iframe {
        display: none;
    }
    /**Sobre mi*/
    .container-all img {
        display: none;
    }
    /**Galeria*/
    .gallery {
        padding: 60px 0;
    }
    /**Footer*/
    footer.contenedor_footer {
        padding-top: 40px;
    }
    footer {
        padding: 0;
        text-align: center;
    }
    /**CONTACTO*/
    .contact-grap {
        display: grid;
        grid-template-columns: 1fr;
    }
    .contact-info{
        display: none;
    }
    .contactanos {
        padding: 1em;
        margin-top: 1.8rem;
    }
    
}

@media (max-width: 768px) {
	i.fa-caret-left, i.fa-caret-right {
		font-size: 2em;
	}
}

@media (min-width: 768px) {
	header {
		max-height: 15%;
	}
    iframe {
        width:"460"; 
        height:"315";
    }
}

