@media (max-width: 768px) {

    nav {
        z-index: 999;
    }

    header {
        max-height: 13%;
    }

    .hero {
        height: 93.7vh;
        background-position: center 20%;
    }


    iframe {
        width: "460";
        height: "315";
    }
}

@media only screen and (max-width: 375px) {

    /** Header, NAV*/

    .header {
        height: 50px;
    }

    .lead {
        font-size: 1rem;
        font-weight: 300;
    }

    /**SERVICIOS*/
    .container-all iframe {
        display: none;
    }

    /**Sobre mi*/
    .container-all img {
        display: none;
    }

    /**Galeria*/
    .gallery {
        padding: 60px 0;
    }

    /**Footer*/
    footer.contenedor_footer {
        padding-top: 40px;
    }

    footer {
        padding: 0;
        text-align: center;
    }

    /**CONTACTO*/
    .contact-grap {
        display: grid;
        grid-template-columns: 1fr;
    }

    .contact-info {
        display: none;
    }

    .contactanos .contact-grap {
        grid-template-columns: none;
        padding: 1em;
        margin-top: 5.8rem;
    }

    .contact-form form {
        p {
            margin: 0;
            padding: 1em;
        }
    }

}

@media (max-width: 320px) {
    .navbar-brand img {
        height: 60px;
    }

}

@media (max-width: 768px) {

    i.fa-caret-left,
    i.fa-caret-right {
        font-size: 2em;
    }
}

@media (min-width: 768px) {
    header {
        max-height: 15%;
    }
}