html,
body,
.servicios-frame {
    height: 90%;
}

.container_all {
    background: url(../assets/img/fotopersonal.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}